// (1)
$gutter: $coke-gutter;
$breakpoints: $coke-breakpoints;
$font-size: $coke-font-size;

// (2)
:root {
	--height-header: 60px;
	--top-tools: var(--height-header);
	--width-tools: 4rem;
}
// 1: Transference Coke -> Starr variables.
// 2: Starr variables.
