h1 {
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	font-weight: $font-light;
	line-height: 1.2;

	&.--hot {
		color: $color-false;
	}
}

.heading {
	position: absolute;
	z-index: depth(1);
	height: var(--height-header);
	line-height: 4rem;
	margin-bottom: 0;
	padding-top: $gutter;
	padding-left: $gutter-2;
	text-align: left;

	@include media('<=phablet') {
		display: block;
		width: 100%;
		padding-top: 0;
		padding-left: 0;
		text-align: center;
	}

	[class^='icon'] {
		font-size: 0.6em;
		transform: rotate(0deg);
		transition: all $duration $ease;
	}
}

.intro {
	width: 100%;
	margin: 0;
	font-size: $font-size-xs;
}
