h1 {
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	font-weight: $font-light;
	line-height: 1.2;

	&.--hot {
		color: $color-false;
	}
}

.theme-toggle {
	right: 1rem;

	@include media('<=phablet') {
		padding: 0;
	}

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			color: $color-tertiary;
		}
	}
}

.heading,
.heading + .theme-toggle {
	position: absolute;
	z-index: depth(1);
	height: var(--height-header);
	line-height: 4rem;
	margin-bottom: 0;
	padding-top: $gutter;
	padding-left: 1.2rem;
	text-align: left;

	[class^='icon'] {
		font-size: 0.6em;
		transform: rotate(0deg);
		transition: all $duration $ease;
		pointer-events: none;
	}

	@include media('<=phablet') {
		padding-top: 0;
		padding-left: 0;
	}
}

.heading {
	@include media('<=phablet') {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.intro {
	width: 100%;
	margin: 0;
	font-size: $font-size-xs;
}
