@import 'tokens/tokens';
@import 'page/page';

*:not(.fn-axis) {
	@include outline;
}

ul,
ol {
	list-style: none;
	display: inline-flex;
	flex-direction: column;
	margin: 0;
	padding: $gutter-1-2;
}

a:visited,
a:focus {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-heading;
	font-weight: $font-light;
}

.btn {
	display: block;
	width: 100%;
	max-width: 450px;
	margin-bottom: $gutter;
	padding: $gutter;
	border: none;
	color: $color-white;
	background-color: $color-tertiary;
	border-radius: 4px;
	font-size: $font-size-m;
	outline: none;

	&:active {
		position: relative;
		top: 2px;
	}
}

section,
aside {
	display: block;
	width: 100%;
}

input[type='text'] {
	width: 100%;
	margin-bottom: $gutter;
	padding: $gutter;
	border: none;
	border-bottom: 2px solid $color-neutral;
	outline: none;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}
