.gallery {
	position: relative;
	display: grid;
	width: 100%;
	max-height: 100%;
	min-height: 100px;
	overflow-y: auto;
	grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
	grid-gap: $gutter;
	padding: $gutter;
	font-size: $font-size-xxs;

	&__item {
		position: relative;
		@include flex(flex, start, center);
		height: 100px;
		overflow: hidden;
		padding: $gutter-1-2;
		word-break: break-all;
		box-shadow: 0 0 3px rgba(128, 128, 128, 0.32);
		border-radius: 4px;

		& img {
			width: 47px;
			height: auto;
		}

		.spinner {
			@include absolute(left $gutter);
		}

		.name {
			@include absolute(top $gutter left $gutter-4);
			flex-grow: 1;
			overflow: hidden;
			padding-left: $gutter;
			font-size: $font-size-xs;
			text-align: left;
			font-weight: $font-bold;
		}

		&.--selected {
			color: var(--color-background);
			background-color: var(--color-react);
		}

		.rating {
			@include absolute(right $gutter-1-2 bottom $gutter-1-2);
			@include flex(flex, center, end);
			flex-direction: column;
		}

		@media (hover: hover) {
			&:hover {
				cursor: pointer;
				color: $color-tertiary;
			}
		}

		@include media('<=phablet') {
			&:last-child {
				margin-bottom: $gutter;
			}
		}
	}

	&-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		height: calc(100% - 5.75rem);
		overflow-x: visible;

		&:before,
		&:after {
			content: '';
			@include absolute(left);
			z-index: 1;
			display: inline-block;
			width: 100%;
			height: 1px;
			border-bottom: 1px solid rgb(232, 232, 232);
		}

		&:before { top: 0; }
		&:after { bottom: 1rem; }

		@include media('<=phablet') {
			&:after { bottom: 0rem; }
		}
	}
}
