.gallery {
	position: relative;
	display: grid;
	width: 100%;
	height: calc(100vh - 200px);
	overflow-y: auto; 
	grid-template-columns: 1fr 1fr;
	grid-gap: $gutter-1-2;
	padding: 0.8rem;
	font-size: $font-size-xxs;

	&__item {
		position: relative;
		@include flex(flex, end, center);
		flex-direction: column;
		height: 100px;
		overflow: hidden;
		padding: $gutter-1-2;
		word-break: break-all;
		border: 1px solid rgba(128, 128, 128, 0.32);
		border-radius: 4px;

		img {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: -1;
			width: auto;
			height: 200%;
			transform: translateY(-50%);
		}
	}

	&-wrapper {
		position: relative;
		padding: $gutter-2 0;
	}
}
