
.paint {
	position: relative;
	@include share(width, height, 100%);

	&__tools {
		@include absolute(top $gutter-3 left $gutter-3);
		z-index: depth(1);
		width: auto;
		@include flex(inline, start, start);
		flex-direction: column;

		& > li {
			padding: 0.5rem 1rem;
			min-height: 2rem;
		}
	}

	&__canvas {
		@include absolute(top left);
	}
}

.tools {

	&__item {
		@include flex(flex, start, center);

		.icon {
			display: inline-block;
			@include share(width, height, 0.9rem);
			border-radius: 50%;
		}

		a {
			color: inherit;
			text-decoration: none;
		}

		@include icon {
			&:hover {
				color: $color-tertiary;
				cursor: pointer;
			}
		}
	}
}

.colors {
	display: flex;
	flex-direction: row;
	padding: 0;
	
	li {
		@include flex(flex, center, center);
		@include share(width, height, 1rem);
		margin-right: $gutter-1-2;
		padding: 2px 0;
		border-radius: 50%;

		&:hover {
			cursor: pointer;
		}
	}

	.--selected:before {
		content: $icon-target;
		font-family: $font-icons;
		font-size: $font-size-xxs;
	}
}

.--erase {
	border: 1px solid $color-black;
}

.range {
	position: relative;
	@include flex(flex, center, center);
	margin-left: $gutter;
	
	&__label {
		@include absolute(left 100%);
		display: inline-block;
		$size: 5px;
		@include share(
			min-width,
			min-height,
			width,
			height,
			$size
		);
		margin-left: $gutter;
		border-radius: 50%;
	}
}
