$track-color: #e6e6e6 !default;
$thumb-color: #e6e6e6 !default;

$thumb-radius: 12px !default;
$thumb-height: 12px;
$thumb-width: 12px;
$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 0 !default;
$thumb-shadow-color: black !default;
$thumb-border-width: 0 !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 3px !default;
$track-shadow-size: 0 !default;
$track-shadow-blur: 0 !default;
$track-border-width: 0 !default;

$track-radius: 5px !default;
$contrast: 0% !default;

@import 'node_modules/input-range-scss/_inputrange';