.users {
	@include absolute(top var(--top-tools) right $gutter);
	width: calc(100% - var(--width-tools) - #{$gutter-2});
	padding-left: 3vw;

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0.8rem;
		font-size: $font-size-xxs;

		&:before {
			content: '';
			$size: 4px;
			@include absolute(top left);
			z-index: -1;
			width: $size;
			height: 100%;
			transition: all $duration $ease;
		}

		&.--selected:before {
			left: -4px;
			background-color: darken($color-background, 15%) !important;
		}

		@include icon {
			@include absolute(top right);
		}
	}
}
