.crud {
	position: relative;
	
	ol {
		font-size: $font-size-xs;
	}

	$height-search: $gutter-3;
	.search {
		width: 100%;
		height: $height-search;
		margin-bottom: 0;
		font-size: $font-size-xs;
		background: none;
	}

	.loading {
		@include absolute(left 50%);
		margin: $gutter-2 auto;
	}

	.users-search {
		@include absolute;
		@include size;
	}

	.empty {
		@include absolute;
		width: 100%;
		font-size: $font-size-xs;
		padding-top: $gutter-4;
		text-align: left;
	}
}