.crud {
	position: relative;
	
	ol {
		font-size: $font-size-xs;
	}

	$height-search: $gutter-3;
	.search {
		width: 100%;
		height: $height-search;
		margin-bottom: 0;
		font-size: $font-size-xs;
		background: none;
	}

	.loading {
		margin: $gutter-2 auto;
	}

	.users {
		max-height: calc(100% - var(--height-header) - #{$height-search});
		overflow-y: scroll;
		margin-top: $gutter;
	}

	.empty {

		p {
			font-size: $font-size-xs;
			padding-top: $gutter-4;
			text-align: left;
		}
	}
}
