.p-paint {
	position: relative;
	@include size();
	padding-right: 0;
	padding-left: 0;

	.colors {
		@include absolute(left $gutter);
		padding: $gutter 0;
	}

	.range {
		@include absolute(left $gutter-3);
		width: 13rem;
		padding: $gutter $gutter $gutter 0
	}

	&__canvas {
		@include absolute(top left);
		touch-action: none;
		transition: filter 250ms ease-in;
	}

	canvas {
		@include absolute(top left);
	}

	.lds-ripple {
		@include absolute(top 50% left 50%);
		transform: translate(-50%, -50%);
		z-index: 1;
	}
}

.--blur {
	filter: blur(22px);

}
