.btn {
	display: block;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: $gutter;
	padding: $gutter 0;
	border: none;
	color: $color-white;
	background-color: $color-tertiary;
	border-radius: 4px;
	font-size: $font-size-m;
	outline: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

	&:active {
		position: relative;
		top: 2px;
	}

	&.--hot {
		background-color: $color-false;
	}
}

.button-floated {
	position: absolute;
	@include flex(flex, center, center);
	min-width: var(--width-tools);
	padding: $gutter;
	transition: opacity 250ms ease-in;

	& > div:first-child {
		display: flex;
		padding: $gutter-1-2 0;

		* {
			pointer-events: none;
		}
	}

	& > span {
		pointer-events: none;
	}

	&.--left   { left: 0; }
	&.--right  { right: 0; }
	&.--top    { top: 0; }
	&.--bottom { bottom: 0; }

	&.--column {
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		padding: $gutter-1-2 $gutter;
	}

	.label {
		padding-right: $gutter-1-2;
		padding-left: $gutter-1-2;
		font-size: $font-size-xxs;
		font-weight: $font-black;
		text-align: left;
	}

	@media (hover: hover) {
		cursor: pointer;

		&:hover {
			color: $color-tertiary;
		}
	}
}
