$icomoon-font-path: "../fonts/paint" !default;
@import '../fonts/paint/style';
$font-icons: 'paint';

@mixin icon($name: '') {
	[class^="icon-#{$name}"],
	[class*=" icon-#{$name}"] {
		@content;
	}
}

@include icon('forward') {
	transition: transform $duration $ease;
	
	&.--down {
		display: inline-block;

		&:before {
			transform: rotate(90deg);
		}
	}

	&.--left {
		display: inline-block;

		&:before {
			transform: rotate(180deg);
		}
	}

	&.--up {
		display: inline-block;
		
		&:before {
			transform: rotate(-90deg);
		}
	}
}
