$icomoon-font-path: "../fonts/paint" !default;
@import '../fonts/paint/style';
$font-icons: 'paint';

@mixin icon($name: '') {
	[class^="icon-#{$name}"],
	[class*=" icon-#{$name}"] {
		@content;
	}
}

@include icon('forward') {
	transition: transform $duration $ease;

	&:before {
		display: inline-block;
	}
	
	&.--down:before {
		transform: rotate(90deg);
	}

	&.--left:before {
		transform: rotate(180deg);
	}

	&.--up:before {
		transform: rotate(-90deg);
	}
}
